<div id="table">
        <h3>
        {{project_name}}
        </h3>
        <table>
            <tr>
             <td>Customer</td>
                    <td>
                        {{customer_name}}
                    </td>
                    </tr>
                    <tr>
                                <td>Vertical</td>
                    <td>
                        {{vertical}}
                    </td>
                   
                           <td>Project Category</td>
                    <td>
                        {{ category}}
                    </td>
                           <td>Project Status</td>
                    <td>
                        {{ stat}}
                    </td>
                    </tr>
                    <tr>
                    <td>Technology</td>
                    <td>
                        {{tech}}
                    </td>
                    </tr>
                    <tr>
                    <td>Description</td>
                    <td>
                        {{ detail}}
                    </td>
                   
                </tr>
            </table>
        </div>