<!DOCTYPE html>
<html lang="en" ng-app="spaceApp">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Space
        </title>
        <!-- libraries -->
        <script type="text/javascript" src="../lib/angular/angular.js">
        </script>
        <script type="text/javascript" src="../lib/angular-route/angular-route.js">
        </script>
        <script type="text/javascript" src="../lib/angular-resource/angular-resource.js">
        </script>
        <link rel="stylesheet" href="../lib/ng-table.min.css"/>
        <script src="../lib/ng-table.min.js">
        </script>
        <script src="../lib/smart-table.debug.js">
        </script>
        <!-- route file -->
        <script type="text/javascript" src="../routes.js">
        </script>
            <script type="text/javascript" src="../services/jsonService.js"></script>
           <script type="text/javascript" src="../services/localstorageService.js"></script> 
        <!-- services -->
        <script type="text/javascript" src="../services/currentUserService.js">
        </script>
        <!-- controllers -->
        <script type="text/javascript" src="../controllers/menubarController.js">
        </script>
        <!--
            <script type="text/javascript" src="../controllers/vacationController.js">
            </script>
        -->
        <script type="text/javascript" src="../controllers/dashboardController.js">
        </script>
        <script type="text/javascript" src="../controllers/projectController.js">
        </script>
        <script type="text/javascript" src="../controllers/projectListController.js">
        </script>
        <!-- directives -->
        <script type="text/javascript" src="../directives/head.js">
        </script>
        <!-- style sheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../assets/stylesheets/layout.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="#/dashboard">
                    <img src="../assets/images/logo.png" alt="Space"/>
                </a>
            </div>
            <div class="pull_right">
                <div class="hamburger pull_right">
                    <a href="#">
                        <i class="fa fa-bars">
                        </i>
                    </a>
                </div>
                <div class="logout pull_right">
                    <a href="#/logout">
                        <i class="fa fa-sign-out">
                        </i>
                    </a>
                </div>
                <!-- Employee search comes here -->
            </div>
        </header>
        <aside ng-controller="menubarController">
            <div class="profile_pic">
                <img ng-src="{{user[0]['profile_pic']}}"/>
                <span>
                    {{user[0]['name']}}
                </span>
            </div>
            <div class="dashboard">
                <a href="#dashboard">
                    <i class="fa fa-home">
                    </i>
                    <span>
                        Dashboard
                    </span>
                </a>
            </div>
            <div class="employees">
                <a href="#">
                    <i class="fa fa-user">
                    </i>
                    <span>
                        Employees
                    </span>
                </a>
            </div>
            <div class="projects">
                <a href="#projects">
                    <i class="fa fa-briefcase">
                    </i>
                    <span>
                        Projects
                    </span>
                </a>
            </div>
            <div class="customers">
                <a href="#">
                    <i class="fa fa-users">
                    </i>
                    <span>
                        Customers
                    </span>
                </a>
            </div>
            <div class="status_report">
                <a href="#">
                    <i class="fa fa-file-text">
                    </i>
                    <span>
                        Status Report
                    </span>
                </a>
            </div>
            <div class="vacation">
                <a href="#vacation">
                    <i class="fa fa-plane">
                    </i>
                    <span>
                        Vacation
                    </span>
                </a>
            </div>
            <div class="todo">
                <a href="#">
                    <i class="fa fa-list">
                    </i>
                    <span>
                        Todo
                    </span>
                </a>
            </div>
        </aside>
        <main id="content_area">
            <div ng-view>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
